scopeName: 'source.organized'
name: 'organized'
fileTypes: [
  'org'
  'organized'
]

patterns: [
    { include: "#headers" }
    { include: "#starlines" }
    { include: "#othertextcontent"}
    { include: "#textheaders"}
]

repository:
  headers:
    patterns: [
      {
        name: 'constant.headername.organized'
        match: '^#\\+(?!BEGIN_SRC)[^:]+:'
      }
    ]
  starlines:
    patterns: [
      {
        #This pattern includes the entire star line
        name: 'meta.starline.organized'
        #match: '^(\\s*)([-+\\*]+ .*)$'
        match: '^(\\s*)([\\-\\+\\*]+|\\d+\\.)( .*)$'
        captures: {
          1:
              name: 'whitespace.starline.organized'
          2:
              name: 'symbol.starline.organized'
          3:
              patterns: [
                { include: "#startextcontent" }
              ]
        }
      }
    ]
  startextcontent:
    name: 'startextcontent.organized'
    patterns:[
      {
        name: 'todo.organized'
        match: "\\[TODO\\]"
      },
      {
        name: 'completed.organized'
        match: "\\[COMPLETED\\]"
      },
      {
        name: 'tags.organized'
        match: ":([^:]+:){1,}"
      },
      { include: "#textcontent" }
    ]
  textheaders:
    patterns: [
      {
        name: 'header.level1'
        match: '^\s*(#)([^#].*)(\s*#\s*)?$'
        captures:
          1:
            name: 'header.level1.symbol'
          2:
            name: 'header.level1.line'
          3:
            name: 'header.level1.symbol'
      },
      {
        name: 'header.level2'
        match: '^\s*(##)([^#].*)(\s*##\s*)?$'
        captures:
          1:
            name: 'header.level2.symbol'
          2:
            name: 'header.level2.line'
          3:
            name: 'header.level2.symbol'
      },
      {
        name: 'header.level3'
        match: '^\s*(###)([^#].*)(\s*###\s*)?$'
        captures:
          1:
            name: 'header.level3.symbol'
          2:
            name: 'header.level3.line'
          3:
            name: 'header.level3.symbol'
      },
      {
        name: 'header.level4'
        match: '^\s*(####)([^#].*)(\s*####\s*)?$'
        captures:
          1:
            name: 'header.level4.symbol'
          2:
            name: 'header.level4.line'
          3:
            name: 'header.level4.symbol'
      },
      {
        name: 'header.level5'
        match: '^\s*(#####)([^#].*)(\s*#####\s*)?$'
        captures:
          1:
            name: 'header.level5.symbol'
          2:
            name: 'header.level5.line'
          3:
            name: 'header.level5.symbol'
      },
      {
        name: 'header.level6'
        match: '^\s*(######)([^#].*)(\s*######\s*)?$'
        captures:
          1:
            name: 'header.level6.symbol'
          2:
            name: 'header.level6.line'
          3:
            name: 'header.level6.symbol'
      }
    ]
  othertextcontent:
    patterns: [
      { include: '#textcontent' },
      {
        name: 'scheduled.meta'
        match: "\s*(SCHEDULED)(:) (\\<)([^\\>]+)(\\>)"
        captures:
          1:
            name: 'tag'
          2:
            name: 'colon'
          3:
            name: 'begintimeblock'
          4:
            name: 'timeblock'
          5:
            name: 'endtimeblock'
      },
      {
        name: 'coffee.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(coffee|coffeescript)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.coffee"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.coffee' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'css.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(css)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'

        contentName: "source.css"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.css' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'html.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(html)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.html"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.html' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'java.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(java)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.java"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.java' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'javascript.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(js|javascript)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.js"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.js' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'less.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(less)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.css.less"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.css.less' }
        ]
        end: '```|#\\+END_SRC'
      },
      {
        name: 'python.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(python)'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.python"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.python' }
        ]
        end: '```|#\\+END_SRC'
      }
      {
        name: 'shell.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(shell)$'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.shell"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.shell' }
        ]
        end: '```|#\\+END_SRC'
      }
      {
        name: 'sql.code.block.organized'
        begin: '(```|#\\+BEGIN_SRC )(sql|SQL)$'
        captures:
          1:
            name: 'code.block.tag.organized'
          2:
            name: 'code.block.language.organized'
        contentName: "source.sql"
        patterns: [
          { include: '#embedded-code' }
          { include: 'source.sql' }
        ]
        end: '```|#\\+END_SRC'
      }
    ]
  textcontent:
    patterns: [
      {
        name: 'link.organized'
        match: '(\\[)(?!(TODO|COMPLETED))([^\\[\\]]+)(\\])(\\()([^\\)]+)(\\))'
        captures:
          1:
              name: 'link.brackets.organized'
          3:
              name: 'link.title.organized'
          4:
              name: 'link.brackets.organized'
          5:
              name: 'link.parens.organized'
          6:
              name: 'underline.link.url.organized'
          7:
              name: 'link.parens.organized'
      }
    ]
