#'atom-text-editor[data-grammar="source organized"]':
'atom-text-editor[data-grammar="source organized"]':
  'tab': 'organized:indent',
  'shift-tab': 'organized:unindent'
  'ctrl-shift-t': 'organized:toggleTodo'
  'ctrl-enter': 'organized:newLine'
  'shift-enter': 'organized:newLine'
  'enter': 'organized:newStarLine'
  # 'enter': 'organized:newTableRow'
  # Keystrokes starting with ctrl-i are general purpose
  'ctrl-i a': 'organized:archiveSubtree'
  'ctrl-i t': 'organized:insertDateTime'
  'ctrl-i /': 'organized:insertDate'
  'ctrl-i l': 'organized:makeLink'
  'ctrl-i d': 'organized:deadlineItem'
  'ctrl-i s': 'organized:scheduleItem'
  # Keystrokes starting with ctrl-- refer to tables
  'ctrl-- c': 'organized:closeTable'
  'ctrl-- o': 'organized:openTable'
  # Keystrokes starting with ctrl-` refer to code blocks
  'ctrl-` x': 'organized:executeCodeBlock'
  # Adjust todo Priorities
  'alt-shift-up': 'organized:increasePriority'
  'alt-shift-down': 'organized:decreasePriority'
