// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor, atom-text-editor::shadow {
  .organized {
    .header.level1.symbol, .header.level1.line {
      font-weight: bolder;
      color: @text-color-selected;
    }

    .header.level2.symbol, .header.level2.line {
      font-weight: underline;
      color: @text-color-selected;
    }

    .header.level3.symbol, .header.level3.line {
      color: @text-color-selected;
    }

    .starline {
      .star {
        .level1 {
          color: @text-color-selected;
        }
      }

      .todo {
        color: @text-color-info;
      }

      .completed {
        color: @text-color-subtle
      }

      .tags {
        color: @text-color-info;
      }
    }

    .othertext.organized {
      .scheduled {
        .tag {
          color: @text-color-highlight;
        }
        .colon {
        }
        .begintimeblock {
          color: @text-color-highlight;
        }
        .timeblock {
          color: @text-color-subtle
        }
        .endtimeblock {
          color: @text-color-highlight;
        }
      }
      .code.block.tag.completed {
        color: red;
      }
      .code.block.language.completed {
        color: red;
      }
    }

    .link.organized {
      .link.brackets.organized, .link.parens.organized {
        color: @text-color;
      }
      .link.url.organized {
        text-decoration: underline;
      }
      .link.title.organized {
        color: @text-color-subtle;
      }
    }
  }
}
